# Build artifacts
dist/
*.zip
*.tar.gz
*.exe

# Frontend generated output
cmd/legacywallet/frontend/node_modules/
cmd/legacywallet/frontend/dist/
cmd/legacywallet/build/

# Local build caches
.gocache-build/
.tmp-linux-build/
.gotmp-build/
.gotmp-linux/
.gotmp-wails/


# Local temporary Linux build folder
.tmp-linux-build/
